Repository Graylog2/graylog-plugin-integrations, pull requests merged in 2019-07, with the labels that each got.

#114 Return JSON message field list in response from Health Check
  src/main/java/org/graylog/integrations/aws/AWSMessageType.java
  src/main/java/org/graylog/integrations/aws/resources/AWSResource.java
  src/main/java/org/graylog/integrations/aws/resources/responses/KinesisHealthCheckResponse.java
  src/main/java/org/graylog/integrations/aws/service/KinesisService.java
  src/test/java/org.graylog.integrations/aws/service/KinesisServiceTest.java
Labels: ready-for-review

#77 Advanced option fields
  package.json
  src/web/aws-cloudwatch/CloudWatch.jsx
  src/web/aws-cloudwatch/FormAdvancedOptions.jsx
  src/web/aws-cloudwatch/KinesisSetup.jsx
  src/web/aws-cloudwatch/KinesisStreams.jsx
  src/web/aws-cloudwatch/StepAuthorize.jsx
  src/web/aws-cloudwatch/StepKinesis.jsx
  src/web/aws-cloudwatch/StepReview.jsx
  src/web/index.jsx
  yarn.lock
Labels: aws, ready-for-review, ux

#83 "Final Review" layout
  src/web/aws-cloudwatch/CloudWatch.jsx
  src/web/aws-cloudwatch/KinesisSetup.jsx
  src/web/aws-cloudwatch/KinesisStreams.jsx
  src/web/aws-cloudwatch/StepAuthorize.jsx
  src/web/aws-cloudwatch/StepHealthCheck.jsx
  src/web/aws-cloudwatch/StepReview.jsx
  src/web/aws-cloudwatch/default_values.js
Labels: aws, ready-for-review, ux

#111 Route constants
  src/web/aws-cloudwatch/KinesisStreams.jsx
  src/web/aws/Services.jsx
  src/web/common/Routes.js
  src/web/index.jsx
Labels: aws, ready-for-review, ux

#119 Updating yarn lockfile.
  yarn.lock
Labels: dependencies, ready-for-review

#121 AWS lockfile
  yarn.lock
Labels: dependencies, ready-for-review

#127 Updating yarn lockfile.
  yarn.lock
Labels: ready-for-review

#84 Shared State w/ Hooks
  src/web/aws-cloudwatch/CloudWatch.jsx
  src/web/aws-cloudwatch/CloudWatchApp.jsx
  src/web/aws-cloudwatch/FormAdvancedOptions.jsx
  src/web/aws-cloudwatch/KinesisSetup.jsx
  src/web/aws-cloudwatch/KinesisStreams.jsx
  src/web/aws-cloudwatch/StepAuthorize.jsx
  src/web/aws-cloudwatch/StepHealthCheck.jsx
  src/web/aws-cloudwatch/StepKinesis.jsx
  src/web/aws-cloudwatch/StepReview.jsx
  src/web/aws-cloudwatch/context/AdvancedOptions.jsx
  src/web/aws-cloudwatch/context/FormData.jsx
  src/web/aws-cloudwatch/context/LogOutput.jsx
  src/web/aws-cloudwatch/context/Steps.jsx
  src/web/aws-cloudwatch/context/default_settings.js
  src/web/aws-cloudwatch/context/temporary_log.js
  src/web/aws-cloudwatch/default_values.js
  src/web/common/FormWrap.jsx
  src/web/index.jsx
  src/web/utils/formValidation.js
Labels: aws, ready-for-review, ux

#137 Update comment blocks
  src/main/java/org/graylog/integrations/aws/resources/AWSResource.java
Labels: aws, backend

#85 Form Field Validation
  src/web/aws-cloudwatch/CloudWatch.jsx
  src/web/aws-cloudwatch/KinesisSetup.jsx
  src/web/aws-cloudwatch/KinesisStreams.jsx
  src/web/aws-cloudwatch/StepAuthorize.jsx
  src/web/aws-cloudwatch/StepHealthCheck.jsx
  src/web/aws-cloudwatch/StepReview.jsx
  src/web/aws-cloudwatch/context/FormData.jsx
  src/web/common/FormWrap.jsx
  src/web/common/ValidatedInput.jsx
  src/web/utils/formValidation.js
Labels: aws, ready-for-review, ux

#143 Removed unneeded inline cURL API documentation
  src/main/java/org/graylog/integrations/aws/resources/AWSResource.java
Labels: ready-for-review

#144 Use standard field names for AWS key and secret
  src/main/java/org/graylog/integrations/aws/resources/requests/AWSInputCreateRequest.java
  src/main/java/org/graylog/integrations/aws/service/AWSService.java
Labels: ready-for-review

#117 AWS transport selector with tests
  src/main/java/org/graylog/integrations/IntegrationsModule.java
  src/main/java/org/graylog/integrations/aws/AWSMessageType.java
  src/main/java/org/graylog/integrations/aws/codecs/AWSCodec.java
  src/main/java/org/graylog/integrations/aws/inputs/AWSInput.java
  src/main/java/org/graylog/integrations/aws/transports/AWSTransport.java
  src/main/java/org/graylog/integrations/aws/transports/KinesisTransport.java
  src/test/java/org/graylog/integrations/aws/AWSTestingUtils.java
  src/test/java/org/graylog/integrations/aws/codecs/AWSCodecTest.java
  src/test/java/org/graylog/integrations/aws/service/KinesisServiceTest.java
  src/test/java/org/graylog/integrations/aws/transports/AWSTransportTest.java
Labels: ready-for-review

#122 Add missing permissions for sample AWS policy
  src/main/java/org/graylog/integrations/aws/AWSPolicy.java
  src/main/java/org/graylog/integrations/aws/AWSPolicyStatement.java
  src/main/java/org/graylog/integrations/aws/resources/AWSResource.java
  src/main/java/org/graylog/integrations/aws/service/AWSService.java
  src/test/java/org/graylog/integrations/aws/service/AWSServiceTest.java
Labels: ready-for-review

#132 Fetch data from API
  .gitignore
  package.json
  src/web/aws-cloudwatch/CloudWatch.jsx
  src/web/aws-cloudwatch/CloudWatchApp.jsx
  src/web/aws-cloudwatch/KinesisStreams.jsx
  src/web/aws-cloudwatch/StepAuthorize.jsx
  src/web/aws-cloudwatch/StepHealthCheck.jsx
  src/web/aws-cloudwatch/StepReview.jsx
  src/web/aws-cloudwatch/context/Api.jsx
  src/web/aws-cloudwatch/context/LogOutput.jsx
  src/web/aws-cloudwatch/context/default_settings.js
  src/web/aws-cloudwatch/context/temporary_log.js
  src/web/aws-cloudwatch/hooks/useFetch.js
  src/web/common/FormWrap.jsx
  src/web/common/Options.jsx
  src/web/common/Routes.js
  yarn.lock
Labels: aws, ready-for-review, ux

#145 API Save Input
  src/web/aws-cloudwatch/CloudWatch.jsx
  src/web/aws-cloudwatch/StepReview.jsx
  src/web/common/Routes.js
Labels: aws, ready-for-review, ux

#129 Aws kinesis newstream
  src/main/java/org/graylog/integrations/aws/resources/AWSResource.java
  src/main/java/org/graylog/integrations/aws/resources/requests/KinesisNewStreamRequest.java
  src/main/java/org/graylog/integrations/aws/resources/responses/KinesisNewStreamResponse.java
  src/main/java/org/graylog/integrations/aws/service/KinesisService.java
  src/test/java/org/graylog/integrations/aws/service/KinesisServiceTest.java
Labels: M3 - backend auto setup, aws, backend, ready-for-review

#148 Unload Confirmation Dialog
  src/web/aws-cloudwatch/CloudWatch.jsx
  src/web/aws-cloudwatch/CloudWatchApp.jsx
  src/web/aws-cloudwatch/StepAuthorize.jsx
  src/web/aws-cloudwatch/StepReview.jsx
Labels: aws, ready-for-review, ux

#157 Remove emotion and use styled-components
  package.json
  src/web/aws-cloudwatch/FormAdvancedOptions.jsx
  src/web/aws-cloudwatch/StepAuthorize.jsx
  src/web/aws-cloudwatch/StepReview.jsx
  src/web/common/ValidatedInput.jsx
  yarn.lock
Labels: ready-for-review, ux

#166 Form Field Error Handling
  src/web/aws-cloudwatch/KinesisSetup.jsx
  src/web/aws-cloudwatch/KinesisStreams.jsx
  src/web/aws-cloudwatch/StepAuthorize.jsx
  src/web/aws-cloudwatch/StepHealthCheck.jsx
  src/web/aws-cloudwatch/StepReview.jsx
  src/web/aws-cloudwatch/context/default_settings.js
  src/web/aws-cloudwatch/hooks/useFetch.js
  src/web/common/FormWrap.jsx
  src/web/common/ValidatedInput.jsx
  src/web/utils/formValidation.js
Labels: aws, ready-for-review, ux

#140 Port of existing KinesisTransport
  pom.xml
  src/main/java/org/graylog/integrations/aws/AWSLogMessage.java
  src/main/java/org/graylog/integrations/aws/AWSMessageType.java
  src/main/java/org/graylog/integrations/aws/codecs/AWSCodec.java
  src/main/java/org/graylog/integrations/aws/inputs/AWSInput.java
  src/main/java/org/graylog/integrations/aws/service/AWSService.java
  src/main/java/org/graylog/integrations/aws/service/KinesisService.java
  src/main/java/org/graylog/integrations/aws/transports/AWSPluginConfiguration.java
  src/main/java/org/graylog/integrations/aws/transports/AWSTransport.java
  src/main/java/org/graylog/integrations/aws/transports/KinesisConsumer.java
  src/main/java/org/graylog/integrations/aws/transports/KinesisPayloadDecoder.java
  src/main/java/org/graylog/integrations/aws/transports/KinesisTransport.java
  src/main/java/org/graylog/integrations/aws/transports/KinesisTransportState.java
  src/main/java/org/graylog/integrations/aws/transports/Proxy.java
  src/test/java/org/graylog/integrations/aws/AWSTestingUtils.java
  src/test/java/org/graylog/integrations/aws/codecs/AWSCodecTest.java
  src/test/java/org/graylog/integrations/aws/service/AWSServiceTest.java
  src/test/java/org/graylog/integrations/aws/service/KinesisServiceTest.java
  src/test/java/org/graylog/integrations/aws/transports/AWSTransportTest.java
  src/test/java/org/graylog/integrations/aws/transports/KinesisPayloadDecoderTest.java
Labels: ready-for-review

#151 Upgrade to latest Kinesis Client version
  pom.xml
  src/main/java/org/graylog/integrations/aws/inputs/AWSInput.java
  src/main/java/org/graylog/integrations/aws/resources/requests/AWSInputCreateRequest.java
  src/main/java/org/graylog/integrations/aws/service/AWSService.java
  src/main/java/org/graylog/integrations/aws/transports/AWSPluginConfiguration.java
  src/main/java/org/graylog/integrations/aws/transports/KinesisConsumer.java
  src/main/java/org/graylog/integrations/aws/transports/KinesisShardProcessorFactory.java
  src/main/java/org/graylog/integrations/aws/transports/KinesisTransport.java
  src/main/java/org/graylog/integrations/aws/transports/Proxy.java
  src/test/java/org/graylog/integrations/aws/service/AWSServiceTest.java
Labels: ready-for-review

#169 Update Throttling advanced option
  src/web/aws-cloudwatch/FormAdvancedOptions.jsx
  src/web/aws-cloudwatch/StepReview.jsx
  src/web/aws-cloudwatch/context/default_settings.js
Labels: aws, ready-for-review, ux
