Repository Graylog2/graylog-plugin-integrations, pull requests merged in 2019-08, with the labels that each got.

#168 Create input with togglable masking
  src/web/aws-cloudwatch/StepAuthorize.jsx
  src/web/common/MaskedInput.jsx
  src/web/common/ValidatedInput.jsx
Labels: aws, ready-for-review, ux

#146 API Error Handling
  src/main/java/org/graylog/integrations/aws/resources/AWSResource.java
  src/main/java/org/graylog/integrations/aws/resources/responses/KinesisHealthCheckResponse.java
  src/main/java/org/graylog/integrations/aws/service/CloudWatchService.java
  src/main/java/org/graylog/integrations/aws/service/KinesisService.java
  src/web/aws-cloudwatch/CloudWatch.jsx
  src/web/aws-cloudwatch/KinesisStreams.jsx
  src/web/aws-cloudwatch/StepAuthorize.jsx
  src/web/aws-cloudwatch/StepHealthCheck.jsx
  src/web/aws-cloudwatch/StepReview.jsx
  src/web/aws-cloudwatch/context/Api.jsx
  src/web/aws-cloudwatch/context/default_settings.js
  src/web/common/FormWrap.jsx
  src/web/common/hooks/useFetch.js
Labels: aws, ready-for-review, ux

#160 Add addSubscriptionFilter to CloudwatchService
  src/main/java/org/graylog/integrations/aws/service/CloudWatchService.java
  src/main/java/org/graylog/integrations/aws/service/KinesisService.java
Labels: M3 - backend auto setup, aws, backend, ready-for-review

#188 Add support for assuming an ARN role
  src/main/java/org/graylog/integrations/aws/inputs/AWSInput.java
  src/main/java/org/graylog/integrations/aws/transports/KinesisConsumer.java
  src/main/java/org/graylog/integrations/aws/transports/KinesisTransport.java
Labels: aws, backend, ready-for-review

#194 Record when users agree to auto-setup
  src/main/java/org/graylog/integrations/aws/resources/KinesisSetupResource.java
Labels: ready-for-review

#199 Fixing select default value
  src/web/common/ValidatedInput.jsx
Labels: aws, ready-for-review, ux

#200 Adding pattern to Stream Name input
  src/web/aws-cloudwatch/KinesisSetup.jsx
  src/web/utils/formValidation.js
Labels: aws, ready-for-review, ux

#196 Add API request to get permissions
  src/main/java/org/graylog/integrations/aws/resources/AWSResource.java
  src/main/java/org/graylog/integrations/aws/resources/KinesisSetupResource.java
  src/main/java/org/graylog/integrations/aws/resources/responses/KinesisPermissionsResponse.java
  src/main/java/org/graylog/integrations/aws/service/AWSService.java
  src/test/java/org/graylog/integrations/aws/resources/KinesisSetupResourceTest.java
  src/test/java/org/graylog/integrations/aws/service/AWSServiceTest.java
Labels: ready-for-review

#212 Lint Error in AWS
  src/web/common/ValidatedInput.jsx
Labels: aws, ready-for-review

#226 Remove auto-setup mocking
  src/main/java/org/graylog/integrations/aws/resources/KinesisSetupResource.java
  src/test/java/org/graylog/integrations/aws/resources/KinesisSetupResourceTest.java
Labels: ready-for-review

#221 Add Audit Log entries for AWS Kinesis/CloudWatch
  src/main/java/org/graylog/integrations/IntegrationsModule.java
  src/main/java/org/graylog/integrations/audit/IntegrationsAuditEventTypes.java
  src/main/java/org/graylog/integrations/aws/resources/AWSResource.java
  src/main/java/org/graylog/integrations/aws/resources/KinesisSetupResource.java
  src/main/java/org/graylog/integrations/aws/resources/responses/CreateRolePermissionResponse.java
  src/main/java/org/graylog/integrations/aws/service/KinesisService.java
Labels: ready-for-review

#244 Use common LoadingIndicator for stream Health Check
  src/web/aws-cloudwatch/KinesisStreams.jsx
Labels: aws, ready-for-review
