Repository Graylog2/graylog-plugin-integrations, pull requests merged in 2020-11, with the labels that each got.

#626 remove model data
  src/main/java/org/graylog/integrations/notifications/modeldata/BacklogItemModelData.java
  src/main/java/org/graylog/integrations/notifications/modeldata/CustomMessageModelData.java
  src/main/java/org/graylog/integrations/notifications/modeldata/StreamModelData.java
Labels: ready-for-review, slack-plugin

#629 slack - fix InconsistentCapitalization
  src/main/java/org/graylog/integrations/notifications/types/SlackEventNotification.java
Labels: slack-plugin

#628 Update yarn lockfiles preparing for release of 4.0.
  yarn.lock
Labels: ready-for-review

#622 Only use ESLint settings configured in eslint-config-graylog
  .eslintrc.json.bak
  package.json
Labels: improvement, ready-for-review

#630 added slack notification details
  src/web/event-notifications/event-notification-details/SlackNotificationDetails.jsx
  src/web/index.jsx
Labels: ready-for-review, slack-plugin

#633 Add Details page for PagerDuty Notifications
  src/web/index.jsx
  src/web/pager-duty/PagerDutyNotificationDetails.jsx
Labels: bug, pagerduty, ready-for-review

#640 Use Icon component from 3.3 core
  src/web/aws/cloudwatch/SidebarPermissions.jsx
  src/web/aws/cloudwatch/StepHealthCheck.jsx
  src/web/aws/cloudwatch/kinesis/ExistingStreams.jsx
  src/web/aws/cloudwatch/kinesis/setup-steps/KinesisSetupStep.jsx
  src/web/aws/common/FormWrap.jsx
  src/web/aws/common/ValidatedInput.jsx
Labels: backport, bug, ready-for-review

#639 Slack Notification Plugin - add field Message Backlog Limit.
  src/main/java/org/graylog/integrations/notifications/types/SlackClient.java
  src/main/java/org/graylog/integrations/notifications/types/SlackEventNotification.java
  src/main/java/org/graylog/integrations/notifications/types/SlackEventNotificationConfig.java
  src/main/java/org/graylog/integrations/notifications/types/SlackEventNotificationConfigEntity.java
  src/main/java/org/graylog/integrations/notifications/types/SlackMessage.java
  src/test/java/org/graylog/integrations/notifications/types/SlackClientTest.java
  src/test/java/org/graylog/integrations/notifications/types/SlackEventNotificationConfigTest.java
  src/test/java/org/graylog/integrations/notifications/types/SlackEventNotificationTest.java
  src/test/java/org/graylog/integrations/notifications/types/SlackMessageTest.java
  src/web/event-notifications/event-notification-details/SlackNotificationDetails.jsx
  src/web/event-notifications/event-notification-types/SlackNotificationForm.jsx
  src/web/event-notifications/event-notification-types/SlackNotificationSummary.jsx
Labels: ready-for-review, slack-plugin

#659 Slack Notification Plugin - add field Message Backlog Limit. (#639)
  src/main/java/org/graylog/integrations/notifications/types/SlackClient.java
  src/main/java/org/graylog/integrations/notifications/types/SlackEventNotification.java
  src/main/java/org/graylog/integrations/notifications/types/SlackEventNotificationConfig.java
  src/main/java/org/graylog/integrations/notifications/types/SlackEventNotificationConfigEntity.java
  src/main/java/org/graylog/integrations/notifications/types/SlackMessage.java
  src/test/java/org/graylog/integrations/notifications/types/SlackClientTest.java
  src/test/java/org/graylog/integrations/notifications/types/SlackEventNotificationConfigTest.java
  src/test/java/org/graylog/integrations/notifications/types/SlackEventNotificationTest.java
  src/test/java/org/graylog/integrations/notifications/types/SlackMessageTest.java
  src/web/event-notifications/event-notification-details/SlackNotificationDetails.jsx
  src/web/event-notifications/event-notification-types/SlackNotificationForm.jsx
  src/web/event-notifications/event-notification-types/SlackNotificationSummary.jsx
Labels: ready-for-review, slack-plugin

#658 Palo Alto input updates to support PANOS v10 schemas
  src/main/java/org/graylog/integrations/inputs/paloalto/PaloAltoTypeParser.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xFields.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xInput.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xTemplates.java
  src/test/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xTemplatesTest.java
Labels: Palo Alto, feature, ready-for-review

#663 Backport #658 to 4.0.1
  src/main/java/org/graylog/integrations/inputs/paloalto/PaloAltoTypeParser.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xFields.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xInput.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xTemplates.java
  src/test/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xTemplatesTest.java
Labels: Palo Alto, backport, feature, ready-for-review

#661 Update Slack plugin to allow Discord webhooks
  src/main/java/org/graylog/integrations/notifications/types/SlackEventNotificationConfig.java
  src/test/java/org/graylog/integrations/notifications/types/SlackEventNotificationConfigTest.java
Labels: feature, ready-for-review, slack-plugin

#665 Merge Slack-Discord update to 4.0.1
  src/main/java/org/graylog/integrations/notifications/types/SlackEventNotificationConfig.java
  src/test/java/org/graylog/integrations/notifications/types/SlackEventNotificationConfigTest.java
Labels: backport, feature, slack-plugin
