Repository Graylog2/graylog-plugin-integrations, pull requests merged in 2021-02, with the labels that each got.

#719 Initial version of USERID parsing for Palo9x input
  src/main/java/org/graylog/integrations/inputs/paloalto/PaloAltoMessageType.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xCodec.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xFields.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xParser.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xTemplates.java
  src/test/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xCodecTest.java
  src/test/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xParserTest.java
  src/test/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xTemplatesTest.java
Labels: Palo Alto

#731 Refactor PaloAltoTypeParser to improve performance
  src/main/java/org/graylog/integrations/inputs/paloalto/PaloAltoCodec.java
  src/main/java/org/graylog/integrations/inputs/paloalto/PaloAltoFieldTemplate.java
  src/main/java/org/graylog/integrations/inputs/paloalto/PaloAltoMessageTemplate.java
  src/main/java/org/graylog/integrations/inputs/paloalto/PaloAltoTypeParser.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xParser.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xTemplates.java
Labels: Palo Alto, java, performance, ready-for-review

#729 Initial version of USERID parsing for Palo9x input (#719)
  src/main/java/org/graylog/integrations/inputs/paloalto/PaloAltoMessageType.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xCodec.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xFields.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xParser.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xTemplates.java
  src/test/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xCodecTest.java
  src/test/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xParserTest.java
  src/test/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xTemplatesTest.java
Labels: Palo Alto, backport, ready-for-review

#737 Refactor PaloAltoTypeParser to improve performance (#731)
  src/main/java/org/graylog/integrations/inputs/paloalto/PaloAltoCodec.java
  src/main/java/org/graylog/integrations/inputs/paloalto/PaloAltoFieldTemplate.java
  src/main/java/org/graylog/integrations/inputs/paloalto/PaloAltoMessageTemplate.java
  src/main/java/org/graylog/integrations/inputs/paloalto/PaloAltoTypeParser.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xParser.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xTemplates.java
Labels: Palo Alto, backport, performance, ready-for-review

#739 Sync cloud 4.0
  package.json
  pom.xml
  src/main/java/org/graylog/integrations/inputs/paloalto/PaloAltoCodec.java
  src/main/java/org/graylog/integrations/inputs/paloalto/PaloAltoFieldTemplate.java
  src/main/java/org/graylog/integrations/inputs/paloalto/PaloAltoMessageTemplate.java
  src/main/java/org/graylog/integrations/inputs/paloalto/PaloAltoMessageType.java
  src/main/java/org/graylog/integrations/inputs/paloalto/PaloAltoTypeParser.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xCodec.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xFields.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xParser.java
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xTemplates.java
  src/test/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xCodecTest.java
  src/test/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xParserTest.java
  src/test/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xTemplatesTest.java
Labels: ready-for-review

#748 Sync cloud 4.0
  package.json
  pom.xml
Labels: ready-for-review
