Repository Graylog2/graylog-plugin-integrations, pull requests merged in 2021-05, with the labels that each got.

#824 Sync cloud 4.0
  package.json
  pom.xml
Labels: ready-for-review

#825 Ensure PAN timestamps are DateTime not String (#816)
  src/main/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xCodec.java
  src/test/java/org/graylog/integrations/inputs/paloalto9/PaloAlto9xTemplatesTest.java
Labels: Palo Alto, bug, ready-for-review, triaged

#836 Only validate Slack Notif webhook URL if it is a Slack or Discord URL
  src/main/java/org/graylog/integrations/notifications/types/SlackEventNotificationConfig.java
  src/test/java/org/graylog/integrations/notifications/types/SlackEventNotificationConfigTest.java
Labels: feature, ready-for-review, slack-plugin

#839 Only validate Slack Notif webhook URL if it is a Slack or Discord URL
  src/main/java/org/graylog/integrations/notifications/types/SlackEventNotificationConfig.java
  src/test/java/org/graylog/integrations/notifications/types/SlackEventNotificationConfigTest.java
Labels: backport, feature, ready-for-review, slack-plugin
